<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bhumika" verbose="1">
    <listeners>
        <listener class-name="com.nopcommercewk13.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Login Test">
        <classes>
            <class name="com.nopcommercewk13.testsuite.LoginPageTest"/>
            <class name="com.nopcommercewk13.testsuite.RegisterPageTest"/>
            <class name="com.nopcommercewk13.testsuite.ComputerPageTest"/>
        </classes>
    </test>
</suite>